* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
}

#menu2 ul {
    list-style: none;
    border: 1px solid #000000;
}

#menu2 li {
    position: relative;
    border-right: 1px solid #000000;
}

#menu2 li a {
    color: #000000;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}

#menu2 li a:hover {
    background-color: #000000;
    color: #ffffff;
    -moz-box-shadow: 0 3px 10px 0 #CCC;
    box-shadow: 0 3px 10px 0 #CCC;
    -webkit-box-shadow: 0 3px 10px 0 #ccc;
    text-shadow: 0px 0px 5px #fff;
}

#menu2 li ul {
    position: absolute;
    top: 25px;
    left: 0;
    background-color: #fff;
    display: none;
}

#menu2 li:hover ul,
#menu2 li.over ul {
    display: block;
}

#menu2 li ul li {
    border: 1px solid #c0c0c0;
    width: 150px;
}

header,
#menu2,
#menu2 ul {
    display: flex;
}

#menu2 {
    flex: 1;
    /* isto é para a nav ocupar a largura toda menos a logo */
    justify-content: center;
    /* alinha horizontalmente */
    align-items: center;
    /* alinha verticalmente */
}