/*import formatação de fontes*/
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

@font-face {
    font-family: 'FonteLogo';
    src: url("../_fonts/bubblegum-sans-regular.otf");
}

/*----------------------------------------------------------------*/
/* conteiner site */

/*
Para lembrar do background-image: url(../images/background.jpg);
body {
    background-image: url("_imagens/fundo.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;   
}
*/

body {
    background-color: #dddddd;
    color: rgba(0, 0, 0, 1);
    font-family: Arial, sans-serif;
}

div#interface {
    width: 1100px;
    background-color: #ffffff;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    padding: 10px;
}

p {
    text-align: justify;
    text-indent: 50px;
}

a {
    color: #606060;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: blue;
}

/*----------------------------------------------------------------*/
/*Formatação do cabeçalho*/

header#cabecalho img#icone {
    position: absolute;
    left: 1000px;
    top: 70px;
}

header#cabecalho {
    border-bottom: 1px solid #606060;
    height: 150px;
    background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 80px;
}

header#cabecalho h1 {
    font-family: 'FonteLogo', sans-serif;
    font-size: 30px;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
    padding: 0px;
    margin-bottom: 0px;
}

header#cabecalho h2 {
    font-family: 'Titillium web', sans-serif;
    color: #888888;
    font-size: 15pt;
    padding: 0px;
    margin-top: 0px;
}

/*----------------------------------------------------------------*/
/*Formatação de imagens com legendas */

figure.foto-legenda {
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 1);

}

figure.foto-legenda img {
    width: 100%;
    height: 100%;
}

figure.foto-legenda figcaption {
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, .4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: 2s;
}

figure.foto-legenda:hover figcaption {
    opacity: 1;
}

/*----------------------------------------------------------------*/
/*Formatação do menu */

nav#menu {
    display: block;

}

nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 520px;
}

nav#menu ul li {
    display: inline-block;
    background-color: #dddddd;
    padding: 10px;
    margin: 2px;
    transition: background-color 1s;
    /*https://autoprefixer.github.io/pt-br/  --> para manter a retrocompatibilidade */
    -webkit-transition: background-color 1s;
    -o-transition: background-color 1s;
    transition: background-color 1s;
}

nav#menu li:hover {
    background-color: #606060;
    cursor: pointer;
}

nav#menu h1 {
    display: none;
}

nav#menu a {
    color: #000000;
    text-decoration: none;
}

nav#menu a:hover {
    color: #ffffff;
    text-decoration: underline;
}

/*----------------------------------------------------------------*/
/*Formatação da section */

section#corpo {
    display: block;
    width: 650px;
    float: left;
    border-right: 1px solid #606060;
    padding-right: 25px;
}

/*----------------------------------------------------------------*/
/*Formatação do article */

article#noticia-principal h2 {
    font-size: 13pt;
    color: #606060;
    background-color: #dddddd;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
}

header#cabecalho-artigo h1 {
    font-family: 'FonteLogo', sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-bottom: 0px;
    margin-top: 0px;
}

header#cabecalho-artigo h2 {
    font-size: 13pt;
    color: #cecece;
    background-color: #ffffff;
    margin: 0px;
}

header#cabecalho-artigo h3 {
    font-size: 12px;
    color: #606060;

}

header#cabecalho-artigo h3.direita {
    text-align: right;
}

/*----------------------------------------------------------------*/
/*Formatação da tabela */

table#tabelaspec {
    border: 1px solid #606060;
    border-spacing: 0px;
    /*remove o espaço entre as tabelas*/
    margin-left: auto;
    /*centraliza a tabela no corpo do site*/
    margin-right: auto;
    /*centraliza a tabela no corpo do site*/
}

table#tabelaspec td {
    border: 1px solid #606060;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

/*itens coluna esquerda da tabela*/
table#tabelaspec td.ce {
    color: #ffffff;
    background-color: #606060;
    vertical-align: top;
    font-weight: bold;
}

/*itens coluna direita da tabela*/
table#tabelaspec td.cd {
    background-color: #cecece;
}

table#tabelaspec caption {
    color: #888888;
    font-size: 13pt;
    font-weight: bolder;
}

table#tabelaspec caption span {
    display: block;
    float: right;
    color: #000000;
    font-size: 8pt;
    margin-top: 10px;
}

/*----------------------------------------------------------------*/
/*Formatação do aside */

aside#lateral {
    display: block;
    width: 400px;
    float: right;
    background-color: #dddddd;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

aside#lateral h1 {
    font-family: 'FonteLogo', sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-top: 0px;
}

aside#lateral h2 {
    background-color: #606060;
    font-size: 13pt;
    color: #ffffff;
    padding: 5px;
}

/*----------------------------------------------------------------*/
/*Formatação do footer */

footer#rodape {
    display: block;
    clear: both;
    /*Faz com que o rodape seja mostrado no local correto*/
    border-top: 1px solid #606060;
}

footer#rodape p {
    align-items: center;
    text-align: center;
    text-decoration: none;
}

footer#rodape p a {
    color: #888888;
    text-decoration: none;
    transition: .5s linear;
}

footer#rodape p a:hover {
    color: #000000;
    text-decoration: underline;
    font-size: 17px;
    color: blue;
}
/*----------------------------------------------------------------*/
/*Formatação do video */

div#video01{
    margin-left: 42px;
    margin-bottom: 20px;
    
}